.reservations {
  width: 90%;
  padding: 3%;
  margin: 0 6%;
  display: flex;
  flex-wrap: wrap;
  height: 340px;
  justify-content: center;
  overflow: scroll;
}

.reservations-container {
  width: 100%;
  height: 340px;
}

.reservations-container h2 {
  color: white;
}